
ul#gallery{
   list-style: none;
   display: flex;
   justify-content: space-between;
 }

 .image-pictures {
   width: 320px;
   height: 200px;
}


#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}